<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<!-- Meta, title, CSS, favicons, etc. -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Role | Operations</title>

<!-- Bootstrap Core CSS -->
<link
	href="../../../resources/gentellela/vendors/bootstrap/css/bootstrap.min.css"
	rel="stylesheet" media="screen"
	th:href="@{/resources/gentellela/vendors/bootstrap/css/bootstrap.min.css}" />
<!-- Custom Fonts Awesome-->
<link
	href="../../../resources/vendor/font-awesome/css/font-awesome.min.css"
	rel="stylesheet" media="screen"
	th:href="@{/resources/vendor/font-awesome/css/font-awesome.min.css}" />
<!-- NProgress -->
<link
	href="../../../resources/gentellela/vendors/nprogress/nprogress.css"
	rel="stylesheet" media="screen"
	th:href="@{/resources/gentellela/vendors/nprogress/nprogress.css}" />

<!-- Custom Theme Style -->
<link href="../../../resources/gentellela/css/custom.min.css"
	rel="stylesheet" media="screen"
	th:href="@{/resources/gentellela/css/custom.min.css}" />
</head>

<body class="nav-md">
	<div class="container body">
		<div class="main_container">
			<div class="col-md-3 left_col">
				<div th:replace="fragments/menu :: menu">&nbsp;</div>
			</div>

			<!-- top navigation -->
			<div class="top_nav">
				<div th:replace="fragments/top :: top">&nbsp;</div>
			</div>
			<!-- /top navigation -->

			<!-- page content -->
			<div class="right_col" role="main">
				<div class="">
					<div class="clearfix"></div>

					<div class="row">
						<div class="col-md-12">
							<div class="x_panel">
								<div class="x_title">
									<a href="#" class="btn btn-info btn-xs">
										<i class="fa fa-pencil"></i> Ajouter
									</a>
									<ul class="nav navbar-right panel_toolbox">
										<li><a class="collapse-link"><i
												class="fa fa-chevron-up"></i></a></li>
										<li class="dropdown"><a href="#" class="dropdown-toggle"
											data-toggle="dropdown" role="button" aria-expanded="false"><i
												class="fa fa-wrench"></i></a>
											<ul class="dropdown-menu" role="menu">
												<li><a href="#">Settings 1</a></li>
												<li><a href="#">Settings 2</a></li>
											</ul></li>
										<li><a class="close-link"><i class="fa fa-close"></i></a>
										</li>
									</ul>
									<div class="clearfix"></div>
								</div>
								<div class="x_content">

									<!-- start project list -->
									<table class="table table-striped projects">
										<thead>
											<tr>
												<th style="width: 5%">Id</th>
												<th>Operation</th>
												<th>Nbr Minimum</th>
												<th>Nbr Maximum</th>
												<th>Montant Minimum</th>
												<th>Montant Maximum</th>
												<th>Montant/Jours</th>
												<th>Frais</th>
												<th>Solde Minimum</th>
												<th style="width: 20%">#Actions</th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="oparam : ${oparams}">
												<td><div th:text=${oparam.id}></div></td>
												<td><div th:text=${oparam.typeOperation}></div></td>
												<td><div th:text=${oparam.nbrMin}></div></td>
												<td><div th:text=${oparam.nbrMax}></div></td>
												<td><div th:text=${oparam.montantMin}></div></td>
												<td><div th:text=${oparam.montantMax}></div></td>
												<td><div th:text=${oparam.montantJours}></div></td>
												<td><div th:text=${oparam.frais}></div></td>
												<td><div th:text=${oparam.soldeMin}></div></td>
												<td>
												<a href="#" class="btn btn-warning btn-xs"> <i
														class="fa fa-user"></i> Modifier
												</a> <a href="#" class="btn btn-danger btn-xs"><i
														class="fa fa-trash-o"></i> Supprimer </a></td>
											</tr>
										</tbody>
									</table>
									<!-- end project list -->
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- /page content -->

			<!-- footer content -->
			<footer>
				<div class="pull-right">
					<div th:replace="fragments/footer :: footer">&copy; 2016
						Wallet</div>
				</div>
				<div class="clearfix"></div>
			</footer>
			<!-- /footer content -->
		</div>
	</div>
	<!-- /Datatables -->
	<!-- jQuery -->
	<script src="../../../resources/gentellela/vendor/jquery/jquery.min.js"
		th:src="@{/resources/gentellela/vendors/jquery/jquery.min.js}"></script>

	<!-- Bootstrap Core JavaScript -->
	<script
		src="../../../resources/gentellela/vendors/bootstrap/js/bootstrap.min.js"
		th:src="@{/resources/gentellela/vendors/bootstrap/js/bootstrap.min.js}"></script>

	<!-- FastClick -->
	<script
		src="../../../resources/gentellela/vendors/fastclick/fastclick.js"
		th:src="@{/resources/gentellela/vendors/fastclick/fastclick.js}"></script>
	<!-- NProgress -->
	<script
		src="../../../resources/gentellela/vendors/nprogress/nprogress.js"
		th:src="@{/resources/gentellela/vendors/nprogress/nprogress.js}"></script>


	<!-- iCheck -->
	<script th:src="@{/resources/gentellela/vendors/iCheck/icheck.min.js}"></script>


	<!-- Custom Theme Scripts -->
	<script src="../../../resources/gentellela/js/custom.min.js"
		th:src="@{/resources/gentellela/js/custom.min.js}"></script>

</body>
</html>
